/* Fonts */

@font-face {
  font-family: QuranicArabic;
  src: url("fonts/Al Qalam Quran Majeed Web Regular.ttf");
}

@font-face {
  font-family: jannatLT;
  src: url("fonts/JannaLTBold.ttf");
}

@font-face {
  font-family: decoType;
  src: url("fonts/DecoType Naskh regular.ttf");
}

@font-face {
  font-family: Uthmanic;
  src: url("fonts/KFGQPC Uthmanic Script HAFS Regular.otf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select,
option {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
label {
  margin: 0;
}

input,
button,
select,
option {
  border: 0;
  outline: 0;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.25) !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: #fff !important;
}

ul,
li {
  list-style-type: none;
}

body {
  background: deepskyblue;
  font: 400 0.9rem/1.5;
  font-family: jannatLT, sans-serif;
}

/*

:target {
  border: 1.5px solid rgba(0, 0, 0, .1) !important;
  background: rgba(0, 0, 0, .3) !important;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, .2) inset !important;
}
*/

hr {
  appearance: none;
  border: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.dummy {
  outline: 1px solid red;
}

.dummy * {
  border: 1px solid greenyellow;
}

.fs-50 {
  font-size: 0.5rem;
}

.fs-80 {
  font-size: 0.8rem;
}

.fs-100 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 1.5rem;
}

.fs-300 {
  font-size: 2rem;
}

.m-auto {
  margin: 0 auto;
}

.m-right {
  margin: 0 0 0 auto;
}

.m-left {
  margin: 0 auto 0 0;
}

.m-left-10 {
  margin-left: 10px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.w-20p {
  width: 20px;
}

.pos-rel {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.pointer-none {
  pointer-events: none;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.d-inline-b {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.flex-1 {
  flex: 1;
}

.d-grid {
  display: grid !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.aligh-items-end {
  align-items: end;
}

.align-self-end {
  align-self: end;
}

.justify-self-end {
  justify-self: end;
}

.justify-space-between {
  justify-content: space-between !important;
}

.place-content-center {
  place-content: center;
}

.gap-50 {
  gap: 5px;
}

.gap-100 {
  gap: 10px;
}

.gap-200 {
  gap: 15px;
}

.gap-300 {
  gap: 20px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 15px;
}

.p-3 {
  padding: 20px;
}

.p-4 {
  padding: 25px;
}

.m-top-1 {
  margin-top: 10px;
}

.m-top-2 {
  margin-top: 15px;
}

.m-top-3 {
  margin-top: 20px;
}

.m-bottom-1 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.clr-text-red {
  color: red;
}

.d-none {
  display: none !important;
}

.outline {
  outline: 3px solid rgba(0, 0, 0, 0.1);
}

.container {
  background: deepskyblue;
  color: #fff;
  max-width: 640px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 0 !important;
}

.loadMore {
  color: #fff;
  font-size: 0.8rem;
  width: 115px;
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: 3px solid rgba(255, 255, 255, 0.2);
}

.loadedTotal {
  font-size: 0.65rem;
  width: 25px;
  height: 25px;
  padding: 2px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  pointer-events: none;
}

.initialLoadingOverlay {
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  z-index: 10000;
  pointer-events: none;
  display: grid;
  text-align: center;
}

.initialLoadingOverlay::before {
  content: "";
  background: url("./img/Quran.svg") no-repeat center;
  background-size: 250px;
  opacity: 0.05;
  position: absolute;
  inset: 0;
}

.initialLoadingOverlay > h1 {
  align-self: end;
  font-size: 2rem;
  text-shadow:
    1px 1px 1px rgba(0, 0, 0, 0.3),
    0 0 5px rgba(255, 255, 255, 0.7);
}

.initialLoadingOverlay > div {
  display: grid;
  gap: 15px;
  padding-bottom: 0.2rem;
  align-self: end;
}

.initialLoadingOverlay .loadingIndicator {
  align-self: end;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  height: 10px;
  outline: 3px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.2);
  animation: loadedToOpen 1.5s linear forwards;
}

@keyframes loadedToOpen {
  0% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(255, 255, 255, 0.3) 5%
    );
  }

  25% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 25%,
      rgba(255, 255, 255, 0.3) 5%
    );
  }

  50% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(255, 255, 255, 0.3) 5%
    );
  }

  75% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 75%,
      rgba(255, 255, 255, 0.3) 5%
    );
  }

  100% {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 100%,
      rgba(255, 255, 255, 0.3) 5%
    );
  }
}

.initialLoadingOverlay .loadingInfo {
  width: 100%;
  position: absolute;
  bottom: 100px;
  text-align: center;
  font-size: 0.8rem;
  gap: 2px;
}

.initialLoadingOverlay .loadingInfo > *:first-child {
  opacity: 0;
  animation: loader 1.5s linear;
}

.initialLoadingOverlay .loadingInfo > *:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
  animation: loader 1.5s linear 1.2s;
}

.initialLoadingOverlay .loadingInfo > *:last-child {
  opacity: 0;
  transform: translateY(-10px);
  animation: loader 1.5s linear 1.5s;
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.container .navBtn {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 1px;
  outline: 5px solid rgba(255, 255, 255, 0.2);
}

.container .navBtn .navIcon,
.container .navBtn .navIcon::before,
.container .navBtn .navIcon::after {
  width: 25px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transform-origin: center;
}

.container .window {
  transform: translateX(9999px);
  position: fixed;
  inset: 0;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  transition: all 0.5s ease-in-out;
  max-width: 640px;
  margin: 0 auto;
  z-index: 1000 !important;
}

.container .window form[name="settingForm"] select {
  appearance: none;
  padding: 5px;
}

.container .window form[name="settingForm"] div {
  display: grid;
  align-items: center;
  grid-row-gap: 5px;
}

.container .window form[name="settingForm"] .closer {
  background: rgba(255, 255, 255, 0.2);
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}

.container .window form[name="settingForm"] {
  display: grid;
  grid-row-gap: 20px;
}

.container .window form[name="settingForm"] label {
  font-weight: 600;
}

.container .window form[name="settingForm"] input,
.container .window form[name="settingForm"] button {
  padding: 5px 10px;
  background: transparent;
  box-shadow:
    -2px -2px 5px 0 rgba(255, 255, 255, 0.3),
    2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.container .window form[name="settingForm"] input {
  outline: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
  padding: 3px !important;
}

.container .window form[name="settingForm"] input::placeholder {
  color: #fff;
}

.container .window div#theme {
  padding: 0 !important;
  border-radius: 5px;
  width: 85px;
  background: hotpink;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    -3px -3px 5px 0 rgba(255, 255, 255, 0.3) inset,
    3px 3px 5px 0 rgba(255, 255, 255, 0.3) inset;
}

/* Theme Templates */
.themeTemplates {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 10px;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    -3px -3px 5px 0 rgba(255, 255, 255, 0.3) inset,
    3px 3px 5px 0 rgba(255, 255, 255, 0.3) inset,
    0 0 5px 5px rgba(255, 255, 255, 0.2);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.themeTemplates > * {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.2);
}

.themeTemplates > *:first-child {
  background: deepskyblue;
}

.themeTemplates > *:nth-child(2) {
  background: #000;
}

.themeTemplates > *:nth-child(3) {
  background: #1f62ff;
}

.themeTemplates > *:nth-child(4) {
  background: #00a120;
}

.themeTemplates > *:nth-child(5) {
  background: #baba00;
}

.themeTemplates > *:last-child {
  background: #b200d1;
}

/* navigator */
.container .navBtn .navIcon::before {
  content: "";
  transform: translateY(10px);
  width: 100%;
}

.container .navBtn .navIcon::after {
  content: "";
  transform: translateY(20px);
}

.ayahSearchSection {
  display: grid;
  grid-template-columns: 70% 15% 1fr;
  border-radius: 5px;
}

.ayahSearchSection > * {
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.ayahSearchSection > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ayahSearchSection > *:nth-child(2) {
  border-radius: 0;
  appearance: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
}

.ayahSearchSection > *:last-child::before {
  content: "";
  position: absolute;
  left: -50%;
  transform: translateX(-25%);
  top: 0;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

.ayahSearchSection > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
  position: relative;
}

.ayahSearchSection .searchSubmit img {
  width: 20px;
  margin: 0 auto;
}

/* Floatint Window */
.floatingWindow {
  transition: all 200ms;
  z-index: 1000;
  background: url("./img/goto.svg") no-repeat rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-size: 80%;
  background-position: center;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 20%;
  padding: 5px;
}

.floatingWindow * {
  display: none;
}

.floatingWindow.active {
  border-radius: 3px;
  width: 120px;
  height: 120px;
  background: transparent;
}

.floatingWindow > div > select,
.floatingWindow > div > input {
  width: 110px !important;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  width: max-content;
  color: #fff;
  text-align: center;
  padding: 1px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
}

.floatingWindow > div > div > * {
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.35);
  background-clip: text;
  color: transparent;
}

.translateBNENSeparate,
.archiveThisAyah {
  width: 190px;
  left: 50%;
  top: 48%;
  background: transparent;
  transform: translate(-50%, -48%);
  position: absolute;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.35);
  z-index: -10;
  border-radius: 5px;
  transition: all 300ms;
  opacity: 0.5;
}

.translateBNENSeparate * {
  padding: 2px 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-weight: 800;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.45) inset;
}

.translateBNENSeparate *:hover {
  transform: scale(0.98);
  background: rgba(0, 0, 0, 0.2);
}

.archiveThisAyah {
  width: 180px;
  top: 18% !important;
  opacity: 0.9;
}

.archiveThisAyah div img {
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 0.3);
  padding: 2px;
  border-radius: 3px;
}

/* Bookmark */

.bookmark {
  background: rgba(0, 0, 0, 0.1);
}

.bookmark > img {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: 2px solid rgba(255, 255, 255, 0.2);
}

.bookmark .bookmarkWrapper {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  color: #fff;
  inset: 0;
  z-index: 100;
  overflow: scroll;
  padding: 10px;
}

.bookmarkWrapper .bookmarkList {
  counter-reset: count;
}

.bookmarkWrapper .bookmarkList li::before {
  counter-increment: count;
  content: counter(count);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  outline: 2px solid rgba(255, 255, 255, 0.35);
  color: #fff;
  display: grid;
  place-content: center;
  align-self: start;
  margin-top: 10px;
}

.bookmarkWrapper .bookmarkList > li {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.2);
  text-align: left;
  padding: 5px 10px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarkWrapper .bookmarkList li img {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 4.5px;
  border-radius: 1px;
  outline: 2px solid rgba(255, 255, 255, 0.2);
}

.bookmarkWrapper .bookmarkList li div > bdi {
  display: block;
  width: 30ch !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bookmarkWrapper .bookmarkList li div > bdi + div {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}

.bookmarkWrapper .bookmarkList li div > textarea {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1) 35%,
    rgba(255, 255, 255, 0.2) 1%,
    rgba(255, 255, 255, 0.1) 70%,
    rgba(255, 255, 255, 0.2) 1%
  );
  color: #fff;
  font-size: 0.85rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 1px;
  width: 100%;
  resize: none;
}

.bookmarkWrapper .bookmarkList textarea {
  padding: 0 5px;
}

.bookmarkWrapper .bookmarkList .bookmarkTools {
  justify-self: end;
  gap: 3px;
  margin-bottom: 4px;
}

.quranResult {
  position: relative;
  max-height: 445px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.41rem;
  font-family: Uthmanic;
}

.loading {
  position: absolute;
  width: 100%;
  height: 445px;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(15px);
  place-items: center;
  z-index: 1000;
  display: none;
}

.quranResult .loading::before {
  content: "";
  position: absolute;
  width: 120px;
  aspect-ratio: 1;
  border: 10px solid deepskyblue;
  border-left: 10px solid transparent;
  border-radius: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.quranResult .verseInfo {
  background: rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  grid-template-columns: max-content 1fr 1fr;
  z-index: 1;
}

.quranResult .verseInfo > li {
  font-size: 0.8rem;
  text-align: center;
  padding: 5px;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1);
}

.quranResult .ayah {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.35);
  padding: 8px;
  transition: all 0.3s;
  position: relative;
}

.ayah .audioBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url("img/playBtn.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 1px;
  bottom: 10px;
  transform: translateY(50%);
  width: 20px;
  height: 20px;
}

/* Ayah Count */

.verses div {
  counter-reset: count;
}

.verses div .ayah::after {
  content: counter(count);
  counter-increment: count;
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 1.05rem;
  font-weight: 600;
  width: 25px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: grid;
  place-content: center;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.afterSearchIcons {
  visibility: hidden;
  display: grid;
  outline: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2) inset;
  place-items: center;
}

.afterSearchIcons img {
  width: 30px;
  height: 30px;
}

.afterSearchIcons::after {
  content: attr(data-currentTarget);
  position: absolute;
  font-size: 0.6rem;
}

/* Reload Previous Ayah */
.reloadPreviousAyahBtn {
  position: absolute;
  right: 5px;
  bottom: 3px;
  display: grid;
  place-content: center;
  width: 25px;
  height: 25px;
  font-size: 1.3rem;
  font-weight: 900;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.toLoadWholeQuran {
  display: none;
  position: absolute;
  width: max-content;
  bottom: -80%;
  transition: all 400ms;
  background: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  outline: 3px solid rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.toLoadWholeQuran.visible {
  display: block;
}

.globalNotice {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 3px;
  font-size: 0.7rem;
  background: #fff;
  border-radius: 5px;
  z-index: 10;
  animation: slideInOut 1s linear;
}

@keyframes slideInOut {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

/* tools */

.tools .icons img {
  width: 30px;
}

.tools .icons .playPause {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.currentChapter {
  position: absolute;
  top: -20px;
  height: 20px !important;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.currentChapter > span {
  display: inline-block;
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 0;
}

/* Read-Only Auto Scroll */

.autoScroll {
  position: absolute;
  transform: translateX(100px);
  display: grid;
}

.autoScroll .text-center {
  display: grid;
  display: none;
  place-content: center;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 5px;
  margin-block: 1px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.minusAutoScroll::before {
  content: attr(data-speed);
  position: absolute;
  font-size: 0.5rem;
  bottom: -100%;
  color: rgba(0, 0, 0, 0.7);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.minusAutoScroll.deepskyblue::before {
  color: deepskyblue;
}

.minusAutoScroll.black::before {
  color: #000;
}

.minusAutoScroll.deepBlue::before {
  color: #1f62ff;
}

.minusAutoScroll.green::before {
  color: #00a120;
}

.minusAutoScroll.yellow::before {
  color: #baba00;
}

.minusAutoScroll.pink::before {
  color: #b200d1;
}

.version {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
}

.versionInfoBtn {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: url("./img/info.svg") no-repeat;
  object-fit: contain;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: 3px solid rgba(255, 255, 255, 0.2);
}

.versionDetails {
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  width: 340px;
  max-height: 550px;
  background: rgba(255, 255, 255, 0.9);
  color: #5a5656;
  text-align: left;
  overflow: scroll;
  padding: 10px 0;
  outline: 3px solid rgba(255, 255, 255, 0.3);
}

.versionDetails h3 {
  color: #2d2b2b;
  padding: 0 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.versionDetails h3:not(:first-child) {
  margin-top: 10px;
}

.versionDetails ul li {
  padding: 0 10px;
}

.versionDetails ul li {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.versionDetailsCloseBtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.2rem;
}

/* Last Read */

.lastRead {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin-block: 5px;
  display: grid;
}

.lastRead > *:not(:last-child) {
  padding-inline: 5px;
}

.lastRead h5 {
  text-align: center;
  box-shadow: 2px 0 1px 0 rgba(255, 255, 255, 0.1);
}

.lastRead div {
  padding-left: 5px;
  box-shadow: -2px 0 1px 0 rgba(255, 255, 255, 0.1);
}

.lastRead h5 + bdi {
  white-space: nowrap;
  width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.lastRead .lastReadCloseBtn {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding-inline: 5px;
}

/* Check on removing bookmark items */
.checkingEl {
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(20px) !important;
  font-size: 0.7rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  animation: popIn 0.1s linear;
}

.checkingEl h3 {
  padding: 0 3px;
}

.checkingEl div {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.2);
}

@keyframes popIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .quranResult {
    max-height: 75vh;
  }
}

.floatingWindow {
  touch-action: none;
}